body {font-family: 'Arial'; font-size: 16px;}
.container {max-width: 1000px; margin: 50px auto;}

.content {padding: 60px 40px; background-color: #D5D7E5; text-align: center;}
input {margin: 20px 0 50px; padding: 10px 20px;}
.output {line-height: 2em;}